* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-box {
  width: 100%;
  background-color: rgb(250, 77, 221);
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}

.item {
  background-color: pink;
  list-style: none;
  height: 70px;
  flex-basis: 140px;
  margin: 0 10px;
}

.item:first-child {
  margin-right: auto;
}

.main-box {
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: palegreen;
  width: 300px;
}

.main-content {
  background-color: green;
  padding: 20px;
  max-width: 700px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  height: 130px;
  background-color: yellow;
  margin: 10px;
  flex-basis: 200px;
}

.footer-box {
  background-color: rgb(8, 143, 247);
  width: 100%;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.text {
  background-color: rgb(156, 220, 232);
  margin: 10px;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
}
